<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tin3_bot">

  <!-- Macros -->
  <xacro:include filename="$(find tin3_bot)/urdf/macros.xacro" />
  <xacro:include filename="$(find tin3_bot)/urdf/materials.xacro" />

  <!-- Robot body -->
  <xacro:include filename="$(find tin3_bot)/urdf/chassis.xacro" />
  <xacro:include filename="$(find tin3_bot)/urdf/gimbal.xacro" />
  <xacro:include filename="$(find tin3_bot)/urdf/camera.xacro" />
  <xacro:include filename="$(find tin3_bot)/urdf/rifle.xacro" />
  <xacro:include filename="$(find tin3_bot)/urdf/sensors.xacro" />

  <!-- Gazebo -->
  <xacro:include filename="$(find tin3_bot)/urdf/gazebo.xacro" />
  <xacro:include filename="$(find tin3_bot)/urdf/gazebo_control.xacro" />

</robot>